<IfModule mod_headers.c>
	Header set Content-Security-Policy "default-src 'self'; \
										script-src  'self' https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/; \
										style-src   'self' https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/;"
	Header set Referrer-Policy "origin-when-cross-origin, strict-origin-when-cross-origin"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_URI} ^/$             [OR]
	RewriteCond %{REQUEST_URI} ^/index\.php$   [OR]
	RewriteCond %{REQUEST_URI} ^/resources     [OR]
	RewriteCond %{REQUEST_URI} ^/favicon\.ico$
	RewriteRule ^ - [L]

	#
	# Admin
	#
	RewriteRule ^(admin/)?login/?$ index.php?type=admin&action=login [L]
	RewriteRule ^(admin/)?logout/?$ index.php?type=admin&action=logout [L]
	RewriteRule ^admin/dashboard/?$ index.php?type=admin&action=dashboard [L]
	RewriteRule ^admin/update/?$ index.php?type=admin&action=update [L]

	#
	# Modules
	#
	RewriteRule ^(.+)/(.*)/?$ index.php?type=$1&page=$2 [L]

	#
	# Other
	#
	RewriteRule ^(.*)$ index.php?type=none&page=$1 [L]
</IfModule>
