## debug values
php_value xdebug.var_display_max_depth 10
php_value xdebug.var_display_max_children 256
php_value xdebug.var_display_max_data 1024


## mod_rewrite.c
RewriteEngine On

RewriteCond %{REQUEST_URI} ^/$             [OR]
RewriteCond %{REQUEST_URI} ^/index\.php$   [OR]
RewriteCond %{REQUEST_URI} ^/resources     [OR]
RewriteCond %{REQUEST_URI} ^/favicon\.ico$
RewriteRule ^ - [L]

#
# Admin
#
RewriteRule ^(admin/)?login/?$ index.php?_module=admin&_action=login [L]
RewriteRule ^(admin/)?logout/?$ index.php?_module=admin&_action=logout [L]
RewriteRule ^admin/([^/]*)/?$ index.php?_module=admin&_action=$1 [L]

#
# Modules
#
RewriteRule ^([^/]+)/?$ index.php?_module=$1 [L]
RewriteRule ^([^/]+)/(.*?)/?$ index.php?_module=$1&_page=$2 [L]

#
# Other
#
RewriteRule ^(.*)$ index.php?_module=none&_page=$1 [L]
